<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <appender class="ch.qos.logback.core.FileAppender" name="FILE">
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
        <file>${application.home:-.}/logs/application.log</file>
    </appender>

    <appender class="ch.qos.logback.core.FileAppender" name="METRICS">
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
        <file>${application.home:-.}/logs/metrics.log</file>
    </appender>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%date : %level : [thread - %thread] : [%logger{5}] :: %message%n%xException{50}</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNCFILE">
        <appender-ref ref="FILE"/>
    </appender>

    <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNCSTDOUT">
        <appender-ref ref="STDOUT"/>
    </appender>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <logger level="INFO" name="play"/>
    <logger level="DEBUG" name="application"/>

    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>